/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .aviso {
  background-color: #e0ffe0;
  border: 1px solid #00aa00;
  color: #006600;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: bold;
 }

 a.botao-nativo {
  display: inline-block;
  padding: 2px 8px;
  font-size: 13px;
  font-family: sans-serif;
  color: black;
  background-color: #E9E9ED;
  border: 1px solid #8F8F9D;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

a.botao-nativo:hover {
  background-color: #d5d5d5;
}

.espacado {
  margin-right: 12px;
  margin-bottom: 12px;
  display: inline-block;
}